* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

/* button, a {
  all: unset;
  box-sizing: border-box;
} */


:nth-child(1) { --i: 1; }
:nth-child(2) { --i: 2; }
:nth-child(3) { --i: 3; }
:nth-child(4) { --i: 4; }
:nth-child(5) { --i: 5; }
:nth-child(6) { --i: 6; }
:nth-child(7) { --i: 7; }
:nth-child(8) { --i: 8; }
:nth-child(9) { --i: 9; }


:root {
  --claw-width:  50px;
  --claw-height: 50px;
  --dur-claw-move:    4s;
  --dur-claw-collect: 3s;
  --dur-claw-return:  3s;
  --dur-item-drop:    1s;
}

html {
  background-color: black;
}

body {
  position: absolute;
  right:  50%;
  bottom: 50%;
  translate: 50% 50%;
  max-width: 400px;
  overflow: hidden;
}

body > div:nth-of-type(1),
body > div:nth-of-type(2) {
  height: 50%;
}

/* box */
body > div:nth-of-type(1) {
  > div {
    width:  100%;
    height: 100%;
    background-color: #ffffff20;
    box-shadow: 0 0 4px 2px #ffffff80 inset;
    
    &:nth-of-type(1) {
      position: relative;

      /* claw */
      > div:nth-of-type(1) {
        position: absolute;
        top:  0;
        left: 0;
        width:  var(--claw-width);
        height: 50px;
        background-color: #90ee9080;
        animation:
          claw-move-x var(--dur-claw-move) infinite linear alternate,
          claw-collect var(--dur-claw-collect) linear,
          claw-collect var(--dur-claw-collect) ease-out reverse,
          claw-return var(--dur-claw-return) ease-in;
        animation-delay:
          0s,
          0s,
          var(--dur-claw-collect),
          calc(var(--dur-claw-collect) + var(--dur-claw-collect));
        animation-fill-mode:
          none,
          none,
          forwards,
          forwards;
        animation-play-state:
          running,
          paused,
          paused,
          paused;
      }

      /* item */
      > div:nth-of-type(2) {
        --sheet-cols: 5;
        --sheet-rows: 1;
        --claw-x: 0;
        --claw-z: 0;
        position: absolute;
        top:  0;
        left: 0;
        margin-top: calc(100% - 50px);
        width:  50px;
        height: 50px;
        background-image: url('assets/sheet-test.png');
        background-size:
          calc(var(--sheet-cols) * 100%)
          calc(var(--sheet-rows) * 100%);
        background-position:
          calc(var(--claw-x) * -100%)
          calc(var(--claw-z) * -100%);
        opacity: 0;
        animation:
          claw-move-x var(--dur-claw-move) infinite linear alternate,
          item-cycle-x var(--dur-claw-move) infinite linear alternate,
          claw-collect var(--dur-claw-collect) ease-out reverse,
          claw-return var(--dur-claw-return) ease-in,
          claw-collect var(--dur-item-drop) ease-in;
        animation-delay:
          0s,
          0s,
          var(--dur-claw-collect),
          calc(var(--dur-claw-collect) + var(--dur-claw-collect)),
          calc(var(--dur-claw-collect) + var(--dur-claw-collect) + var(--dur-claw-collect));
        animation-fill-mode:
          none,
          none,
          forwards,
          forwards,
          forwards;
        animation-play-state:
          running,
          running,
          paused,
          paused,
          paused;
      }

      /* display items */
      > div:nth-of-type(3) {
        position: absolute;
        top:  0;
        left: 0;
        margin-top: calc(100% - 50px);
        width:  100%;
        height: 50px;
        background-image: url('assets/sheet-test.png');
        background-size: 100%;
      }
    }
  }
}

/* do x collect animation if stop x checked */
html:has(
  /* stop x checked */
  body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > input:nth-of-type(1):checked
) {
  body > div:nth-of-type(1) > div:nth-of-type(1) > div {
    /* claw */
    &:nth-of-type(1) {
      animation-play-state:
        paused,
        running,
        running,
        running;
    }
    /* item */
    &:nth-of-type(2) {
      opacity: 1;
      animation-play-state:
        paused,
        paused,
        running,
        running,
        running;
    }
  }
}

/* reset claw animation on stop x uncheck */
html:has(
  /* stop x checked active */
  body > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > input:nth-of-type(1):checked:active
) {
  body > div:nth-of-type(1) > div:nth-of-type(1) > div {
    /* claw */
    &:nth-of-type(1),
    &:nth-of-type(2) {
      animation: none;
    }
  }
}

/* stand */
body > div:nth-of-type(2) {
  > div {
    width:  100%;
    height: 100%;
    background-color: royalblue;
    
    &:nth-of-type(1) {
    }
  }
}


/* animations */

@keyframes claw-move-x {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc(100% - var(--claw-width));
  }
}

@keyframes claw-collect {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: calc(100% - var(--claw-height));
  }
}

@keyframes claw-return {
  100% {
    margin-left: 0;
  }
}

@keyframes item-cycle-x {
    0% { --claw-x: 0; }
   25% { --claw-x: 1; }
   50% { --claw-x: 2; }
   75% { --claw-x: 3; }
  100% { --claw-x: 4; }
}